$blue-a: #1174c4;
$switchBtnBackgroundColor: $blue-a;
$messagesInputBoxBackgroundColor: $blue-a;
$messagesWrapperBackground: url('./assets/images/chat-box-bg.jpg') center/cover;
//$messagesWrapperBackground: #eee;
$messagesWrapperBorderRadius: 10px;

$messageInnerFontSize: 14px;
$messageInnerBackgroundColor: #57c28e;
$messageAgentInnerBackgroundColor: #2196f3;
$messageInfoInnerBackgroundColor: #607D8B;
