.logout { align-self: flex-end; cursor: pointer; &-holder { flex-grow: 1; text-align: right; } }
.header {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex; align-items: center; z-index: 2; position: relative;
}
.clear { clear: both; }
.logo { margin-right: 15px; display: inline-block; text-align: center;
  > * {
    font-size: 14px; font-weight: 600;
    &:nth-child(1) { font-size: 14px; }
    &:nth-child(2) { font-size: 14px; }
  }
}

