<h4>New Chats <span>Checked 22-22-22</span></h4>
<div class="chats new">
  <div class="chat">
    <div><b>Client Name:</b> abcabc</div>
    <div><b>Message:</b> abcabc abcabc abcabc abcabc abcabc abcabc abcabc abcabc</div>
  </div>
  <div class="chat">
    <div><b>Client Name:</b> abcabc</div>
    <div><b>Message:</b> abcabc abcabc abcabc abcabc abcabc abcabc abcabc abcabc</div>
  </div>
</div>

<h4>Chats</h4>
<div class="chats old">
  <div class="chat">
    <div><b>Client Name:</b> abcabc</div>
    <div><b>Message:</b> abcabc abcabc abcabc abcabc abcabc abcabc abcabc abcabc</div>
  </div>
</div>
