.wrapper {
  background-color: #fff;
  padding: 0px;
  border: 1px solid #999;
  border-radius: 10px;
  overflow: hidden;
  background: url("../../assets/images/chat-box-bg.jpg") center / cover;
}
.messages-box {
  padding: 10px; margin-bottom: 5px; padding-right: 0px;
  height: calc(100vh - 162px);
  display: flex; align-items: flex-end;
  border: 0px solid #ccc;
}
.message {
  margin-bottom: 5px; text-align: right; padding-right: 15px;
  .inner {
    display: inline-block; background-color: #57c28e;  padding: 5px 10px; max-width: 500px;
    border-radius: 5px; color: white;
    .dateText { font-size: 9px; }
  }
  &.agent { text-align: left;
    .inner {
      background-color: #748ccc;
    }
  }
  &.info { text-align: center !important;
    display: flex; height: 200px; align-items: center;
    .inner {
      background: #607D8B;
      color: #e2e2e2;
      font-size: 12px;
    }
  }
}

.input-box {
  margin: 5px; padding: 7px; border-radius: 10px; background-color: #1174c4;
  form {  display: flex; }
  .col {
    display: flex;
    &:nth-child(1) { flex-grow: 1; padding-right: 10px; }
  }
  input { width: 100%; outline: none; padding: 5px 10px; border: 1px solid #ccc; border-radius: 5px }
}

.sender-agent {
  .message {
    text-align: left;
    &.agent { text-align: right;
      .inner {
      }
    }
  }
}

.btn.circle { padding-top: 5px; padding-right: 0px; padding-left: 0; }
