h4 { font-weight: 600; color: #333;
  span { font-size: 12px; font-weight: 400; margin-left: 15px; }
}
.chats { margin-bottom: 15px; display: flex; flex-wrap: wrap;
  &.active {
    .chat { border-color: #aaa; background-color: #66bb3d; }
  }
  &.old {
    .chat { border-color: #aaa; background-color: #bbdbef; }
  }
}
.chat { padding: 10px; background-color: white; width: 200px; border-radius: 5px; border: 1px solid green; cursor: pointer;
  margin-right: 10px;  text-decoration: none;  color: #333; margin-bottom: 15px; }
.container { background-color: #eee;  padding: 15px; }
