:host {
    display: block;
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    max-width: 200px;
    width: 100%;
    background-color: #eee;
    padding: 5px 10px 0;
    border: 2px solid blue;
    border-bottom-width: 0;
    border-radius: 10px 10px 0 0;
}
 
h2 {
    color: green;
    text-align: center;
}