@import "../../config";

.switch-btn {
  width: 55px;
  height: 55px;
  border: 0;
  border-radius: 1000px;
  cursor: pointer;
  float: right;
  margin: 13px 10px 10px 0;
  transition: all .6s;
  background: $switchBtnBackgroundColor;
  position: relative;

  img { width: 32px; transition: opacity .3s .3s; margin-top: 8px; }

  .close-icon {
    width: 33px;    display: inline-block;    margin-top: -28px;
    vertical-align: top;    float: left;    margin-left: 6px;
    span {  opacity: 0; transition: all .1s .0s; }
    span:nth-child(1) { display: block; height: 3px; background-color: #eee; transform: translate(-27px, -24px) rotate(45deg); }
    span:nth-child(2) { display: block; height: 3px; background-color: #eee; transform: translate(27px, -25px) rotate(-45deg); }
  }

  .down-arrow {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 54px;
    left: 17px;
    .box {
      width: 21px;
      height: 21px;
      background: transparent;
      transform: translate(0px, -18px) rotate(45deg) skew(10deg, 10deg);
    }
  }

  &.close-on {
    transform: rotate(180deg);
    img { opacity: 0;  transition-delay: .0s; }
    .close-icon {
      span { opacity: 1; transition-delay: .3s; }
      span:nth-child(1) { transform: translate(0px, 3px) rotate(45deg); }
      span:nth-child(2) { transform: translate(0px, 0px) rotate(-45deg); }
    }
    .down-arrow {
      .box { background: $switchBtnBackgroundColor; }
    }
  }

  &.loading { pointer-events: none; }
}
