.wrapper {
  background-color: #eee;
  padding: 10px 10px;
  border: 1px solid blue;
  border-radius: 10px;
}
.messages-box {
  background-color: white;
  padding: 10px; margin-bottom: 10px; padding-right: 0px;
  height: calc(100vh - 162px);
  display: flex; align-items: flex-end;
  border: 1px solid #ccc;
}
.message {
  margin-bottom: 5px; text-align: right; padding-right: 10px;
  .inner {
    display: inline-block; background-color: #57c28e;  padding: 5px 10px; max-width: 500px;
    border-radius: 5px; color: white;
    .dateText { font-size: 9px; }
  }
  &.agent { text-align: left;
    .inner {
      background-color: #748ccc;
    }
  }
}

.input-box {
  form {  display: flex; }
  .col {
    display: flex;
    &:nth-child(1) { flex-grow: 1; padding-right: 10px; }
  }
  input { width: 100%; outline: none; padding: 5px 10px; border: 1px solid #ccc; }
}

.sender-agent {
  .message {
    text-align: left;
    &.agent { text-align: right;
      .inner {
      }
    }
  }
}
