<div class="wrapper" [ngClass]="{ 'sender-agent': isAgent }" [@messagesAni]>
  <div class="action-buttons">
    <button class="btn" *ngIf="isAgent" (click)="onClickcloseChat()">X</button>
  </div>
  <div class="messages-box">
    <ng-scrollbar #scrollbarRef style="width: 100%;" [autoHeightDisabled]="false">
        <div class="message" *ngFor="let message of messages" [ngClass]="{ 'agent': message.sender === 'agent' }">
          <div class="inner">{{ message?.message }} <span class="dateText">{{ message?.dateText }}</span></div>
        </div>
    </ng-scrollbar>
  </div>
  <div class="input-box">
    <form [formGroup]="inputForm" (submit)="sendMessage()">
      <div class="col">
        <input type="text" placeholder="type your message" formControlName="message">
      </div>
      <div class="col">
        <button class="btn circle">
          <img src="./assets/images/send.svg" />
        </button>
      </div>
    </form>
  </div>
</div>

