<div class="wrapper" [ngClass]="{ 'sender-agent': isAgent }">
  <div class="action-buttons">
    <button class="btn" *ngIf="isAgent" (click)="onClickcloseChat()">X</button>
  </div>
  <div class="messages-box">
    <perfect-scrollbar style="max-height: 380px;" fxFlex="auto" >
      <div class="message" *ngFor="let message of messages" [ngClass]="{ 'agent': message.sender === 'agent' }">
        <div class="inner">{{ message?.message }} <span class="dateText">{{ message?.dateText }}</span></div>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="input-box">
    <form [formGroup]="inputForm" (submit)="sendMessage()">
      <div class="col">
        <input type="text" placeholder="message" formControlName="message">
      </div>
      <div class="col">
        <button class="btn">Send</button>
      </div>
    </form>
  </div>
</div>

