<div class="container">
  <ng-container [ngTemplateOutlet]="chatCard"
                  [ngTemplateOutletContext]="{ chats: newChats, type: 'new', headline: 'New Chats',
                   preloader: preloaders.newChats, preloaderBarColor: '#7fd59f', options: { joinButton: true } }" />

  <ng-container [ngTemplateOutlet]="chatCard"
                  [ngTemplateOutletContext]="{ chats: activeChats, type: 'active', headline: 'Active Chats',
                   preloader: preloaders.activeChats, preloaderBarColor: '#b7abab', options: { joinButtonVerB: true } }" />

  <ng-container [ngTemplateOutlet]="chatCard"
                  [ngTemplateOutletContext]="{ chats: closedChats, type: 'old', headline: 'Closed Chats',
                   preloader: preloaders.closedChats, preloaderBarColor: '#dbae04', options: { joinButtonVerB: true } }" />

</div>
<ng-template #chatCard
  let-options="options" let-headline="headline" let-chats="chats"  let-preloader="preloader"
  let-preloaderBarColor="preloaderBarColor" let-type="type">
  <div class="chat-list-box {{ type }}">
    <h2 class="font-weight-400">{{headline}}({{ chats.length }})</h2>

    @if (preloader) {
      <app-preloader [borderColor]="preloaderBarColor" />
    }

    @if (!preloader) {
      @if (!chats.length) {
        <p>No {{type}} chats</p>
      }
      <div class="chats">
        @for (chat of chats; track chat) {
          <div class="chat">
            <div class="text-center">
              <button class="btn circle remove" (click)="deleteChat(chat.key)"><img src="./assets/images/trash.svg" /></button>
            </div>
            <div><span class="label">Chat Id:</span> {{ chat.key }}</div>
            <div><span class="label">Chat Date:</span> {{ chat.date }}</div>
            <div><span class="label">Message Count:</span> {{ chat.messageCount || 0 }}</div>
            <div><span class="label">Last Message:</span> {{ chat.cardMessage }}</div>
            <div class="buttons text-right">
              @if (options.joinButton) {
                <button class="btn image i-right" (click)="takeChat(chat.key)">
                  Join
                  <img src="./assets/images/right.svg" alt="right">
                </button>
              }
              @if (options.joinButtonVerB) {
                <a class="btn image i-right" [routerLink]="'/agent/chats/' + chat.key">
                  Join
                  <img src="./assets/images/right.svg" alt="right">
                </a>
              }
            </div>
          </div>
        }
      </div>
    }

  </div>
</ng-template>

