@import "../../../../config";

.wrapper {
  background-color: #fff;
  padding: 0px;
  border: 1px solid #999;
  border-radius: $messagesWrapperBorderRadius;
  overflow: hidden;
  background: $messagesWrapperBackground;

  &.sender-agent {
    background: none;
    .messages-box {
      height: calc(100vh - 115px);
    }
  }
}
.messages-box {
  padding: 10px 0; margin-bottom: 5px;
  height: calc(100vh - 162px);
  display: flex; align-items: flex-end;
  border: 0px solid #ccc;
}
.message {
  margin-bottom: 5px; text-align: right;
  padding-left: 20px;
  padding-right: 20px;
  .inner {
    display: inline-block; background-color: $messageInnerBackgroundColor;  padding: 5px 10px; max-width: 500px;
    border-radius: 5px; color: white; position: relative; font-size: $messageInnerFontSize;
    .dateText { font-size: 9px; }
  }

  .triangle {
    width: 13px; position: absolute; bottom: -6px; right: -6px;
    svg { fill: $messageInnerBackgroundColor }
  }

  &.agent { text-align: left; padding-left: 10px;
    .inner {
      background-color: $messageAgentInnerBackgroundColor;
    }
    .triangle {
      right: unset; left: -6px;
      svg { fill: $messageAgentInnerBackgroundColor }
    }
  }
  &.info { text-align: center !important;
    display: flex; height: 200px; align-items: center; justify-content: center;
    .inner {
      background: $messageInfoInnerBackgroundColor;
      color: #e2e2e2;
      font-size: 12px;
    }
  }
}

.input-box {
  margin: 5px; padding: 7px; border-radius: 10px; background-color: $messagesInputBoxBackgroundColor;
  form {  display: flex; }
  .col {
    display: flex;
    &:nth-child(1) { flex-grow: 1; padding-right: 10px; }
  }
  input { width: 100%; outline: none; padding: 5px 10px; border: 1px solid #ccc; border-radius: 5px }
}

.sender-agent {
  .message {
    text-align: left;
    .triangle {
      right: unset; left: -6px;
    }

    &.agent { text-align: right;
      .triangle {
        left: unset; right: -6px;
      }
    }
  }
}

.btn.circle { padding-top: 5px; padding-right: 0px; padding-left: 0; }
