<div [@.disabled]="isAgent">
  <div class="wrapper" [ngClass]="{ 'sender-agent': isAgent }"  [@messagesAni]>
    <div class="action-buttons"></div>

    <div class="messages-box" >

      <ng-scrollbar #scrollbarRef style="width: 100%;" [autoHeightDisabled]="false">

        @if (newMessages === 1) {
          <app-preloader borderColor="#1174c4" minHeight="75vh" />
        }

        @for (message of messages; track message) {
          @if (!message.isInfo || (message.isInfo && ((isAgent && message.sender === 'agent') || (!isAgent && message.sender === 'client')) )) {
            <div class="message" [ngClass]="{ 'agent': message.sender === 'agent', 'info': message.isInfo }">
              <div class="inner">
                {{ message?.message }}
                <span class="dateText">{{ message?.dateText }}</span>
                @if (!message.isInfo) {
                  <div class="triangle">
                    <svg viewBox="0 0 15 15" version="1.1" id="triangle" xmlns="http://www.w3.org/2000/svg">
                      <path id="path21090-9" d="M7.5385,2&#xA;&#x9;C7.2437,2,7.0502,2.1772,6.9231,2.3846l-5.8462,9.5385C1,12,1,12.1538,1,12.3077C1,12.8462,1.3846,13,1.6923,13h11.6154&#xA;&#x9;C13.6923,13,14,12.8462,14,12.3077c0-0.1538,0-0.2308-0.0769-0.3846L8.1538,2.3846C8.028,2.1765,7.7882,2,7.5385,2z"/>
                    </svg>
                  </div>
                }
              </div>
            </div>
          }
        }
      </ng-scrollbar>
    </div>
    <div class="input-box">
      <form [formGroup]="inputForm" (submit)="sendMessage()">
        <div class="col">
          <input type="text" placeholder="type your message" formControlName="message">
        </div>
        <div class="col">
          <button class="btn circle">
            <img src="./assets/images/send.svg" />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

