<button class="btn big positive" *ngIf="customerStatus === 'waiting'" (click)="createChatRoom()">Chate başla</button>
<button class="btn big positive" *ngIf="customerStatus === 'minimized'" (click)="customerStatus = 'chat-started'">Chate devam et</button>


<ng-container *ngIf="customerStatus === 'chat-started'">
  <app-messages [messages]="messages" [newMessages]="newMessages"
                (closeChat)="customerStatus = 'minimized'" (messageSent)="insertMessage($event)"></app-messages>
</ng-container>
