.switch-btn {
  width: 75px;
  height: 75px;
  border: 1px solid #333;
  border-radius: 1000px;
  cursor: pointer;
  float: right;
  margin: 10px 16px 16px 0;
  transition: all .3s;
  img { width: 56px; transition: opacity .3s .3s; }
  .close-icon {
    width: 50px;    display: inline-block;    margin-top: -34px;
    vertical-align: top;    float: left;    margin-left: 6px;
    span {  opacity: 0; transition: all .1s .0s; }
    span:nth-child(1) { display: block; height: 3px; background-color: #444; transform: translate(-40px, -1px) rotate(0deg); }
    span:nth-child(2) { display: block; height: 3px; background-color: #444; transform: translate(0px, -42px) rotate(-90deg); }
  }
  &.close-on {
    transform: rotate(45deg);
    img { opacity: 0;  transition-delay: .0s; }
    .close-icon {
      span { opacity: 1; transition-delay: .3s; }
      span:nth-child(1) { transform: translate(0px, 3px) rotate(0deg); }
      span:nth-child(2) { transform: translate(0px, 0px) rotate(-90deg); }
    }
  }
}
